# --------------------------
# Node / React
# --------------------------
node_modules/
build/
.venv/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# --------------------------
# Python / FastAPI
# --------------------------
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log
*.egg-info/
dist/
build/
*.pyc
backend/__pycache__

# --------------------------
# VS Code / IDEs
# --------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --------------------------
# OS files
# --------------------------
.DS_Store
Thumbs.db
